body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    color: white;
    font-size: 24px;
}

.navbar-a {
    margin-right: 5%;
}
.navbar {
    display: flex;
    background-color: #545F78;
    margin: 0;
    height: 35px;
    padding: 5px;
}



.active {
    color: #63AF9E;
}

li:hover {
    color: #63AF9E;
    transition: .35s;
}

a:-webkit-any-link {
    color: transparent;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    nav {
        height: 100px;
        font-size: 30px;
    }

    .navbar {
        height: 100px;
        padding: 0px;
    }
    li {
        font-size: 54px;
    }
}